* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

/* Category & Banner Start  */
.categorySection {
    margin-bottom: 1rem;
}

.categorySection {
    margin-top: 1rem;
}

.icons {
    font-size: 30px;
}

.dropdown-toggle::after {
    display: none;
}
@media screen and (max-width: 320px) {
    .categoryIcons {
        margin-top: 100px;
    }
}

.categoryTitle {
    color: #000000;
    font-weight: 300;
    text-align: center;
    font-family: "Kanit", sans-serif !important;
}

.categoryTitle:hover {
    color: #ff0060;
}

.img-container {
    width: 35px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.col-custom {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media (min-width: 768px) and (max-width: 991px) {
    #wellnessDropdown {
        right: auto;
        left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1061px) {
    #servicesDropdown {
        right: auto;
        left: 0;
    }
}

@media (min-width: 992px) {
    .col-custom {
        flex: 0 0 12.5%;
        max-width: 10%;
    }
}

@media (max-width: 991.98px) {
    .col-custom {
        flex: 0 0 16.66%;
        max-width: 16.66%;
    }

    .img-container {
        width: 40px;
        height: 50px;
    }

    .categorySection {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 767px) and (min-width: 380px) {
    .header-logo {
        max-width: 60px;
        padding-left: 0 !important;
        padding-right: 0 !important ;
    }
    .navbar-toggler .button {
        max-width: 50px;
    }

    .button {
        max-width: 100px;
    }
    .header .userlogin-button {
        font-size: 8px;
    }
}

@media screen and (max-width: 900px) and (min-width: 767px) {
    .header-logo {
        max-width: 130px;
        padding-left: 0 !important;
    }
    .navbar-toggler .button {
        max-width: 130px;
    }

    .button {
        max-width: 180px;
    }
}

@media (max-width: 992px) {
    .col-custom {
        flex: 0 0 25%;
        max-width: 20%;
    }

    .img-container {
        width: 40px;
        height: 50px;
    }

    .categoryTitle {
        font-size: 13px;
    }
}

@media (max-width: 433px) {
    .img-container {
        width: 35px;
        height: 40px;
    }

    .categoryTitle {
        font-size: 10px;
    }

    .categorySection {
        margin-bottom: 2rem;
    }
}

.slider-content {
    padding: 10px 45px !important;
    cursor: pointer !important;
}

@media screen and (max-width: 430px) {
    .slider-content {
        padding: 0 !important;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .slider-content {
        padding: 0 !important;
    }
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-slide img {
    min-width: 100%;
    height: auto;
}

@media (min-width: 2500px) {
    .carousel-container {
        max-width: 2500px;
    }

    .carousel-slide {
        justify-content: center;
    }
}

.carousel_slider .item {
    text-align: center;
    border-radius: 8px;
}

.item .banner_image {
    text-align: center !important;
    width: 100%;
}

/* @media screen and (max-width: 992px) and (min-width: 320px) {
  .carousel_slider .item .banner_image {
    border-radius: 12px !important;
    width: 100%;
}
} */

@media screen and (max-width: 992px) {
    .carousel_slider .item .banner_image {
        border-radius: 12px !important;
        /* width: 100%; */
    }
}

@media screen and (max-width: 768px) {
    .carousel_slider .item .banner_image {
        /* width: 100% !important; */
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .carousel_slider .item .banner_image {
        border-radius: 12px !important;
        /* width: 100%; */
    }
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-nav .owl-prev {
    left: 0;
}

.owl-nav .owl-next {
    right: 0;
}

.owl-dots {
    position: relative;
    top: -3rem !important;
}

@media (min-width: 320px) {
    .owl-dots {
        position: relative;
        top: -2rem;
        font-size: smaller !important;
    }
}

.categoryIcons {
    margin-top: 85px;
}
/* Category & Banner End  */

/* App & PlayStore Start */
.app-store-btn {
    border: none;
    background: #ff0060;
    border-radius: 5px;
    padding: 10px 14px;
    color: #fff;
    font-size: small;
}
/* App & PlayStore End */

/* Product Card Start  */
.couponBadge {
    background-color: #ff0060;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    padding: 3px;
}

.topCard {
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.topCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ff0060;
    cursor: pointer;
}

.card-divider {
    height: 1px;
    width: 100%;
    background-color: #ffecee;
    margin: 1rem 0;
}

.sub_topCard {
    border: 1px solid #ff0060;
    max-width: 305px !important;
}

.sub_topCard:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px #ff4d8546;
    border: 1px solid #ff0060;
    cursor: pointer;
}

.topCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.trending-badge {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 6rem;
    background-color: #ff0060;
    color: #fff;
    z-index: 2;
    border: 1px solid #ff0060;
    font-weight: 400;
}

.trending-bookmark-badge {
    color: #ff0060;
    font-weight: 400;
    font-size: larger;
}

.content-badge {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    z-index: 2;
    font-weight: 400;
}

.card-img-top {
    border-radius: 5px;
}

.card-img-top1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* height: 175px; */
    display: block;
    margin: auto;
}

.card_section {
    padding: 0px;
}

.dropdown-menu li a:hover {
    background-color: #ff0060;
    color: #fff;
}

.dropdown-menu li a:active {
    background-color: #ff0060;
    color: #fff;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .productViewStar {
        font-size: 12px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 380px) and (min-width: 320px) {
    .productViewStar {
        font-size: 12px;
        padding: 8px 2px;
    }
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
    .productViewStar {
        font-size: 20px;
    }

    .productViewStar span {
        font-size: 12px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .productViewStar {
        font-size: 14px;
    }
    .productViewStar span {
        font-size: 8px;
    }
}

.truncated-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Product Card End  */

/* Footer Start  */
footer {
    background-color: #ff0060 !important;
    padding: 20px 0;
}

.footer-logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.social-icons a {
    color: #fff;
}

footer .list-unstyled {
    padding-left: 0;
    list-style: none;
}

footer .list-unstyled li a {
    font-size: 14px;
}

footer hr {
    border-top: 1px solid #dee2e6;
}

@media (max-width: 920px) {
    .footer {
        text-align: center;
    }
    .termsfooter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media screen and (max-width: 992px) and (min-width: 767px) {
    .dealsmachi-text p {
        font-size: 1.5rem !important;
    }

    .social-icons a i {
        font-size: 16px !important;
    }
}
/* Footer End  */

/* Header Start */
.dropdown:hover .dropdown-menu {
    display: block;
}

.fa-circle-user:before, .fa-user-circle:before {
    content: "";
    color: #ff0060;
}

.total-count {
    font-size: 8px;
    width: 25%;
    border-radius: 50%;
    text-align: center;
    background-color: #ff0060;
    color: #fff;
    margin-left: 45%;
}

@media screen and (max-width: 1199px) and (min-width: 320px) {
    .total-count {
        font-size: 8px;
        width: 25%;
        border-radius: 50%;
        text-align: center;
        background-color: #ff0060;
        color: #fff;
        margin-left: 8%;
    }
}

.header .userlogin-button {
    background-color: #ff0060;
    color: #fff;
    font-size: 20px;
    font-family: "Kanit", system-ui;
}

.header .userlogin-button-large {
    background-color: #ff0060;
    color: #fff;
    font-size: 14px;
    font-family: "Kanit", system-ui;
    padding-left: 0rem;
    padding-right: 1rem;
}

.header .userlogin-button-large:hover {
    border: 2px solid #ff0060;
    background-color: #fff;
    color: #ff0060;
    font-size: 14px;
    font-family: "Kanit", system-ui;
}

.header-logo {
    padding-left: 1rem;
    padding-right: 0rem;
}

@media screen and (max-width: 380px) and (min-width: 320px) {
    .header-logo {
        max-width: 60px;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .navbar-toggler .button {
        padding-left: 0px;
        max-width: 50px;
    }

    .button {
        max-width: 100px;
    }
    .header .userlogin-button {
        font-size: 8px;
    }

    .header .userlogin-button:hover {
        font-size: 10px;
        border: 2px solid #ff0060;
        background-color: #fff;
        color: #ff0060;
    }
}

.icon-input {
    position: absolute;
    left: 10px;
    color: #ff0060;
}

.search-input {
    height: 50px;
    padding-left: 35px;
    border: 1px solid #ff0060;
    border-radius: 20px !important;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    width: 800px;
}

.search-input-large {
    height: 50px;
    padding-left: 32px;
    border: 1px solid #ff0060;
    border-radius: 20px !important;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    width: 600px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .search-input-large {
        height: 50px;
        padding-left: 30px;
        border: 1px solid #ff0060;
        border-radius: 20px !important;
        border-radius: 4px;
        font-size: 16px;
        margin-right: 10px;
        width: 600px;
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .search-input-large {
        height: 50px;
        padding-left: 30px;
        border: 1px solid #ff0060;
        border-radius: 20px !important;
        border-radius: 4px;
        font-size: 16px;
        margin-right: 10px;
        width: 780px;
    }
}

@media (min-width: 320px) {
    .search-input {
        width: 100%;
    }
}

@media (min-width: 320px) {
    .navbar-toggler-icon {
        width: 1em;
        height: 1em;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .header .userlogin-button {
        font-size: 10px;
    }

    .header .userlogin-button:hover {
        font-size: 10x;
        border: 2px solid #ff0060;
        background-color: #fff;
        color: #ff0060;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .header .userlogin-button {
        font-size: 14px;
    }

    .header .userlogin-button:hover {
        font-size: 14px;
        border: 2px solid #ff0060;
        background-color: #fff;
        color: #ff0060;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .header .userlogin-button {
        font-size: 15px;
    }

    .header .userlogin-button:hover {
        font-size: 15px;
        border: 2px solid #ff0060;
        background-color: #fff;
        color: #ff0060;
    }
}

.search-button {
    background-color: #ff0060;
    height: 50px;
    display: flex;
}

.search-button:hover {
    background-color: #ff0060;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .navbar-collapse .input-wrapper {
        width: 100%;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-nav .nav-item input {
        width: 100%;
    }
}
/* Header End  */

/* Dropdown arrow */
.custom-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    display: none;
}

.dropdown.show .custom-dropdown-menu {
    display: block;
}

.arrow-icon.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
/* Dropdown arrow */

/* Product View */
.productViewTabs .nav-tabs {
    border-bottom: none;
}

.productViewTabs .nav-tabs .nav-link {
    background-color: #ffecee;
    color: #ff0060;
    border: 1px solid#ffecee;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

@media (max-width: 475px) {
    .productViewTabs .nav-tabs .nav-link {
        padding: 5px 10px;
        margin-right: 7px;
    }
}

@media (max-width: 383px) {
    .productViewTabs .nav-tabs .nav-link {
        padding: 3.1px;
        margin-right: 5px;
    }
}

.productViewTabs .nav-tabs .nav-link.active {
    background-color: white;
    border-color: #ff0060;
    color: #ff0060;
}

.filterlarge {
    border-right: 1px solid #ff0060;
}

.productViewTabs .nav-tabs .nav-link:hover {
    background-color: white;
    border-color: #ff0060;
    color: #ff0060;
}

.productViewTabs .tab-content {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ff0060;
    border-top: none;
    margin-top: 20px;
    border-top: 1px solid #ff0060;
}

.add_photos {
    cursor: pointer !important;
}

.productViewTabs .quickInfo {
    font-size: 14px;
    color: #494949 !important;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .info-head {
        min-height: 3rem !important;
    }
}

.productViewTabs .ratingNum {
    font-size: 40px;
    font-weight: 500;
}

.hidden-review {
    display: none;
}

.contactCard {
    text-decoration: none;
    color: #ff0060;
    font-size: 14px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.25) !important;
    font-size: 14px;
}

.enquiryBtn {
    width: 100%;
    background-color: #ff0060;
    border: 2px solid #ff0060;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

.enquiryBtn:hover,
.enquiryBtn.active {
    background-color: #fff !important;
    border: 2px solid #ff0060 !important;
    color: #ff0060 !important;
}

.productViewCard {
    background-color: #fff;
    border-color: #ff0060;
}

.info {
    font-size: 12px;
    color: #494949;
}

.showNumBtn {
    color: #fff;
    background-color: #ff0060;
    border: 1px solid #ff0060;
    font-size: 14px;
}

@media screen and (max-width: 440px) {
    .showNumBtn {
        color: #fff;
        background-color: #ff0060;
        border: 1px solid #ff0060;
        font-size: 10px;
    }

    .sendEnqBtn {
        color: #ff0060;
        background-color: #fff;
        border: 1px solid #ff0060;
        font-size: 10px !important;
    }
}

@media screen and (max-width: 1200px) {
    .fa-star:before {
        font-size: small !important;
    }
}

.showNumBtn:hover,
.showNumBtn.active {
    color: #ff0060 !important;
    background-color: #fff !important;
    border: 1px solid #ff0060 !important;
}

.sendEnqBtn {
    color: #ff0060;
    background-color: #fff;
    border: 1px solid #ff0060;
    font-size: 14px;
}

.sendEnqBtn:hover,
.sendEnqBtn.active {
    background-color: #ff0060 !important;
    border: 1px solid #ff0060 !important;
    color: #fff !important;
}

.chatBtn {
    background-color: #ffecee;
    color: #ff0060;
    border: 2px solid #ff0060;
    font-size: 14px;
}

.chatBtn:hover {
    background-color: #ffecee;
    color: #ff0060;
    border: 2px solid #ff0060;
    font-size: 14px;
}

.tab-content .sub-tabs {
    min-height: 500px;
}

@media screen and (min-width: 440px) {
    .productViewTabs .tab-content {
        height: fit-content !important;
    }
}
/* Product View */

/* For Scrolling */
/* .productFilter {
    max-height: 120vh;
    overflow-y: auto;
} */
/* Customize scrollbar */
/* .productFilter::-webkit-scrollbar {
    width: 2px;
    background-color: #edeaea;
}

.productFilter::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.productFilter::-webkit-scrollbar-thumb {
    background-color: #cdc9c9;
    border-radius: 10px;
}

.productFilter {
    scrollbar-width: thin;
    scrollbar-color: #cdc9c9 #f1f1f1;
} */

.ofcanvas-scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #edeaea;
}

.ofcanvas-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.ofcanvas-scroll::-webkit-scrollbar-thumb {
    background-color: #cdc9c9;
    border-radius: 10px;
}

.ofcanvas-scroll {
    scrollbar-width: thin;
    scrollbar-color: #cdc9c9 #f1f1f1;
}

.offcanvas-body {
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: hidden;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
    width: 100%;
    z-index: 10;
}

.topFilter {
    background-color: #eaa7a726;
}

.productFilter {
    min-height: 100px !important;
}

.arrow-icon {
    font-size: 20px;
}
.topText {
    font-size: 26px;
    color: #000000;
    cursor: pointer;
}

.selectText {
    font-size: 26px;
    color: #ff0060;
    cursor: pointer;
}
.canvas_topText2 {
    font-size: 15px;
    color: #000000;
}

.canvas_selectText2 {
    font-size: 15px;
    color: #ff0060;
}

@media (min-width: 320px) and (max-width: 476px) {
    .topText {
        font-size: 18px;
        color: #000000;
        cursor: pointer;
    }

    .selectText {
        font-size: 18px;
        color: #ff0060;
        cursor: pointer;
    }

    .arrow-icon {
        font-size: 18px;
    }

    .dropdownproduct {
        border: 1px solid #d2d0d0;
        border-radius: 0px !important;
        color: #8a8fb9;
        background-color: #f6f5ff;
        font-size: 10px;
    }
}

@media (min-width: 476px) and (max-width: 768px) {
    .topText {
        font-size: 20px;
        color: #000000;
        cursor: pointer;
    }

    .selectText {
        font-size: 20px;
        color: #ff0060;
        cursor: pointer;
    }

    .arrow-icon {
        font-size: 20px;
    }

    .dropdownproduct {
        border: 1px solid #d2d0d0;
        border-radius: 0px !important;
        color: #8a8fb9;
        background-color: #f6f5ff;
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1137px) {
    .topText {
        font-size: 16px;
        color: #000000;
        cursor: pointer;
    }

    .selectText {
        font-size: 16px;
        color: #ff0060;
        cursor: pointer;
    }

    .arrow-icon {
        font-size: 16px;
    }

    .dropdownproduct {
        border: 1px solid #d2d0d0;
        border-radius: 0px !important;
        color: #8a8fb9;
        background-color: #f6f5ff;
        font-size: 10px;
    }
}

.dropdownheading {
    font-size: 16px;
    color: #000000;
    text-wrap: nowrap;
}

.dropdownproduct {
    border: 1px solid #d2d0d0;
    border-radius: 0px !important;
    color: #000 !important;
    background-color: #fff;
}
.dropdownproduct:focus {
    box-shadow: none;
}

.dropdownproduct option:checked {
    background-color: #ff0060;
    color: white;
}

/* .filterdropdown:focus {
    border: 1px solid #D2D0D0;
    border-radius: 0px !important;
    color: #8A8FB9;
    background-color: red;
} */

@media (min-width: 320px) and (max-width: 476px) {
    .dropdownheading {
        font-size: 12px;
        color: #000000;
    }

    .dropdownproduct {
        border: 1px solid #d2d0d0;
        border-radius: none !important;
        color: #8a8fb9;
    }
}

.topText2 {
    font-size: 18px;
    color: #000000;
}

.selectText2 {
    font-size: 18px;
    color: #ff0060;
}

.topText3 {
    font-size: 20px;
    color: #000;
}

.topText4 {
    font-size: 20px;
    color: #000;
}

.textline {
    width: 60px;
    height: 1px;
    background-color: #000;
}

.textline2 {
    width: 120px;
    height: 1px;
    background-color: #000;
}

.form-check-input[type="checkbox"] {
    border-radius: 0px !important;
    background-color: #ffecee;
    cursor: pointer;
}

.form-check-input:focus {
    outline: none;
    box-shadow: none;
}

.form-check-label {
    cursor: pointer;
}

.filterdropdown:checked {
    background-color: #ff0060;
    color: #fff;
}

.form-check-input:checked {
    background-color: #ff0060;
    color: #fff;
    border-color: #ff0060;
}

.yellow-checkbox[type="checkbox"] {
    border-radius: 0px !important;
    background-color: #fff6da;
    cursor: pointer;
}

.yellow-checkbox:checked {
    background-color: #ffcc2e;
    color: #fff;
    border-color: #ffcc2e;
}

.categoryLable {
    color: #7e81a2;
    /* font-size: 20px; */
}

.clear-button {
    border-color: #ff0060;
    color: #ff0060;
    font-size: 14px;
    width: 100px;
}

.filter-button {
    background-color: #ff0060;
    border-radius: 5px;
    width: 40px;
    text-align: center;
}

.apply-button {
    background-color: #ff0060;
    color: #fff;
    font-size: 14px;
    width: 100px;
}

.clear-button:hover {
    border-color: #ff0060;
    color: #ff0060 !important;
    font-size: 14px;
}

.apply-button:hover,
.apply-button.active,
.apply-button:focus {
    background-color: #ff0060 !important;
    color: #fff !important;
    font-size: 14px !important;
}

.filterdropdown {
    color: #8a8fb9;
}
/* ProductFilter */

/* / Hover Dropdown  / */

/* / Add a transition to the caret / */
.dropdown-toggle::after {
    transition: transform 0.3s ease;
}

/* / Rotate caret when dropdown is open / */
.dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg);
}

@media (min-width: 992px) {
    /* Hide dropdown initially on large screens */
    .dropdown-menu {
        display: block !important;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease, visibility 0.2s ease;
    }

    /* Show dropdown on hover */
    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
}

.dropdown-item {
    font-weight: 300 !important;
}

/* Login */
.login-container .login-title {
    color: #fff;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.login-text{
    line-height: 30px;
}

.login-container .forgot-password {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}

.login-container{
    background-color: #ff0060;
}

.login-container .login-btn {
    color: #ff0060;
    width: 100%;
    background-color: #fff;
}

@media (min-width: 992px) {
    .login-container {
        min-height: 100vh;
    }
}

@media (min-width: 992px) {
    .login-text-container {
        min-height: 100vh;
    }
}

.login-container .login-btn:hover,
.login-container .login-btn.active {
    color: #ff0060;
    border-color: #fff;
    background-color: #fff;
}

.password-container .form-label{
    color: #fff !important
}

.email-container .form-label{
    color: #fff !important
}

/* Style for the hr line and the text */
.line-divider-container {
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
}

.line-divider {
    flex-grow: 2;
    height: 1px;
    background-color: #fff;
    border: none;
    margin: 0 10px;
}

.line-divider-text {
    padding: 0 10px;
    font-size: 1rem;
    color: #fff;
}

/* Social button styling */
.social-btn {
    background-color: #ffffff;
    color: #000;
    padding: 0.5rem;
    border-radius: 5px;
}


.forgot-password {
    color: #ffffff;
    text-decoration: underline;
}

.login-container .password-container {
    position: relative;
}


/* Login */

/* Register */
.register-container .register-title {
    color: #ff0060;
    border-bottom: 2px solid #ff0060;
    width: 100%;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.register-container .register-btn {
    color: #fff;
    background-color: #ff0060;
    width: 100%;
}

.register-container .register-btn:hover,
.register-container .register-btn.active {
    color: #fff;
    background-color: #ff0060;
    width: 100%;
}

.register-container .password-container {
    position: relative;
}

.register-container .password-container input {
    padding-right: 40px;
}

.register-container .password-container i {
    position: absolute;
    top: 71%;
    right: 10px;
    cursor: pointer;
}
/* Register */

/* Forgot */
.forgot-container .forgot-title {
    color: #ff0060;
    border-bottom: 2px solid #ff0060;
    width: 100%;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.forgot-container .forgot-btn {
    color: #fff;
    background-color: #ff0060;
    width: 100%;
}

.forgot-container .forgot-btn:hover,
.forgot-container .forgot-btn.active {
    color: #fff;
    background-color: #ff0060;
    width: 100%;
}
/* Forgot */

/* Reset */
.reset-container .reset-title {
    color: #ff0060;
    border-bottom: 2px solid #ff0060;
    width: 100%;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.reset-container .reset-btn {
    color: #fff;
    background-color: #ff0060;
    width: 100%;
}

.reset-container .reset-btn:hover,
.reset-container .reset-btn.active {
    color: #fff;
    background-color: #ff0060;
    width: 100%;
}

.reset-container .password-container {
    position: relative;
}

.reset-container .password-container input {
    padding-right: 40px;
}

.reset-container .password-container i {
    position: absolute;
    top: 71%;
    right: 10px;
    cursor: pointer;
}
/* Reset */

.SuccessMagnetSubHeading {
    color: #333;
    font-size: 26px;
    font-weight: 600 !important;
}

.successMagnetButton {
    background-color: green;
    color: #fff;
    font-weight: 600;
    position: relative;
}
.successMagnetButton:hover {
    background-color: green;
    color: #fff !important;
}

.errorMagnetSubHeading {
    font-size: 18px !important;
}

.errorMobile {
    font-size: 20px !important;
    font-weight: 500 !important;
}

@media screen and (max-width: 2600px) and (min-width: 992px) {
    .filteremptytext {
        display: flex;
        justify-content: end !important;
        align-items: center !important;
        text-align: end !important;
        padding-right: 70px;
    }
}
/* .custom-col-hotpicks {
    flex: 0 0 20%;
    max-width: 20%;
}

@media (max-width: 768px) {
    .custom-col-hotpicks {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .custom-col-hotpicks {
        flex: 0 0 100%;
        max-width: 100%;
    }
} */

.social-media-card {
    position: sticky;
    top: 85px;
}

.social-Icon {
    font-size: 26px;
    color: #fff;
}

.count-Text {
    font-size: 22px;
    color: #fff;
    line-height: 0.5;
    padding-top: 15px;
}

.count-Text2 {
    font-size: 12px;
    padding-top: 5px;
    color: #fff;
}

.filter-social-media-card {
    position: sticky;
    top: 85px;
}

.filter-social-Icon {
    font-size: 26px;
    color: #fff;
}

.filter-count-Text {
    font-size: 16px;
    color: #fff;
    line-height: 0.5;
    padding-top: 15px;
}

.filter-count-Text2 {
    font-size: 10px;
    padding-top: 5px;
    color: #fff;
}

@media (min-width: 320px) and (max-width: 576px) {
    .home-productViewCard {
        margin-right: 5px;
        margin-left: 7px;
        display: flex;
        align-items: center;
    }
}

#social-links ul {
    list-style: none;
    padding: 0;
    display: flex;
}
#social-links li {
    margin-right: 10px;
}
#social-links a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #social-links .fa-facebook-square {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #3b5998;
        border-radius: 3px;
        font-size: 10px;
    }
    #social-links .fa-twitter {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #1da1f2;
        border-radius: 3px;
        font-size: 10px;
    }
    #social-links .fa-linkedin {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #0077b5;
        border-radius: 3px;
        font-size: 10px;
    }
    #social-links .fa-whatsapp {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #25d366;
        border-radius: 3px;
        font-size: 10px;
    }

    #social-links .fa-telegram {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #25d366;
        border-radius: 3px;
        font-size: 10px;
    }

    .social-link-container {
        display: flex;
        gap: 4;
    }

    .social-link-container a {
        display: inline-block;
        text-decoration: none;
        color: white;
        border-radius: 50%;
        font-size: 10px;
        position: relative;
        text-align: center;
        width: 20px;
        height: 20px;
        margin-left: 2px;
    }

    .social-link-container a p {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 9px;
        font-weight: 500;
        color: white;
        margin: 0;
    }

    .social-link-container .fa-thumbs-up {
        background-color: #1877f2;
        padding: 8px;
        width: 30px;
        height: 28px;
        border-radius: 3px;
        font-size: 14px !important;
        margin: 0px -2px;
    }

    .social-link-container .fa-instagram {
        background: linear-gradient(
            45deg,
            #f09433,
            #e6683c,
            #dc2743,
            #cc2366,
            #bc1888
        );
        padding: 8px 5px;
        width: 30px;
        height: 28px;
        border-radius: 3px;
        font-size: 14px !important;
    }
}

/* Specific social media colors */
#social-links .fa-facebook-square {
    padding: 6px 8px;
    width: 30px;
    height: 28px;
    background-color: #3b5998;
    border-radius: 3px;
    font-size: 16px;
}
#social-links .fa-x-twitter {
    padding: 6px 7px;
    width: 30px;
    height: 28px;
    background-color: #000;
    border-radius: 3px;
    font-size: 16px;
}
#social-links .fa-linkedin {
    padding: 6px 8px;
    width: 30px;
    height: 28px;
    background-color: #0077b5;
    border-radius: 3px;
    font-size: 16px;
}
#social-links .fa-whatsapp {
    padding: 6px 8px;
    width: 30px;
    height: 28px;
    background-color: #25d366;
    border-radius: 3px;
    font-size: 16px;
}

#social-links .fa-telegram {
    padding: 6px 8px;
    width: 30px;
    height: 28px;
    background-color: #28a8e9;
    border-radius: 3px;
    font-size: 16px;
}

.social-link-container {
    display: flex;
}

.social-link-container a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    position: relative;
    text-align: center;
}

.social-link-container a p {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9px;
    font-weight: 500;
    color: white;
    margin: 0;
}

.social-link-container .fa-thumbs-up {
    background-color: #1877f2;
    padding: 6px 8px;
    width: 30px;
    height: 28px;
    border-radius: 3px;
    font-size: 16px !important;
}

.social-link-container .fa-instagram {
    background: linear-gradient(
        45deg,
        #f09433,
        #e6683c,
        #dc2743,
        #cc2366,
        #bc1888
    );
    padding: 7px 5px;
    width: 30px;
    height: 28px;
    border-radius: 3px;
    font-size: 16px !important;
}

.qr-code img{
    width: 100%;
    max-height: 50px;
    object-fit: contain;
    padding: 0px !important;
}

.qr-code1 img{
    width: 100%;
    max-height: 85px;
    object-fit: contain;
}

.icon-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.icon-text i{
    border-radius: 50%;
    background-color: #fff;
    font-size: 10px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-text span{
    font-size: 9px;
    color: #fff;
}

.silderCard{
    width: 80px;
    max-width: 80px;
}

.silderCard1{
    width: 115px;
    max-width: 115px;
}

@media (min-width: 1600px) {
    .silderCard{
        width: 85px;
        max-width: 85px;
    }

    .silderCard1{
        width: 125px;
        max-width: 125px;
    }
}

.prodFilterCard {
    width: 80px;
    max-width: 80px;
}

@media (min-width: 992px) and (max-width: 1180px) {
    .prodFilterCard {
        width: 65px;
        max-width: 65px;
    }
}

@media (min-width: 1600px) {
    .prodFilterCard {
        width: 120px;
        max-width: 120px;
    }

    .prodFilterCard .qr-code img{
        width: 100%;
        max-height: 80px;
        object-fit: contain;
        padding: 0px !important;
    }
}

.prodDescCard{
    width: 90px;
    max-width: 90px;
}

.prodDescCard1{
    width: 120px;
    max-width: 120px;
}

@media (min-width: 1600px) {
    .prodDescCard {
        width: 110px;
        max-width: 110px;
    }

    .prodDescCard1{
        width: 110px;
        max-width: 110px;
    }

    .prodDescCard .qr-code img{
        width: 100%;
        max-height: 80px;
        object-fit: contain;
        padding: 0px !important;
    }
}

.icon-facebook {
    background-color: #1878f3;
}

.icon-instagram {
    background-color: #cc2366;
}

.icon-youtube {
    background-color: #FF0000;
}

.icon-whatsapp {
    background-color: #25D366;
}

.icon-telegram {
    background-color: #28a8e9;
}

/* / Card background / */
.facebook-body {
    background-color: #1878f3;
    border-radius: 0 0 10px 10px;
    padding: 5px 0px !important;
}

.instagram-body {
    background: linear-gradient(
        45deg,
        #f09433,
        #e6683c,
        #dc2743,
        #cc2366,
        #bc1888
    );
    padding: 5px 0px;
}

.youtube-body {
    background-color: #ff0000;
    border-radius: 0 0 10px 10px;
    padding: 5px 0px;
}

.whatsapp-body {
    background-color: #25d366;
    border-radius: 0 0 10px 10px;
    padding: 5px 0px;
}

/* Contact Us Start */

.nav-tabs .nav-link.active {
    background-color: white !important;
}
.nav-tabs .nav-link:hover {
    background-color: white !important;
}

.nav-tabs.nav-link {
    color: #000;
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 5px;
}

.contact-nav:hover {
    background-color: #fff;
}

.address-content {
    display: none;
    padding-top: 16px;
}
.active-address {
    display: block;
    padding-top: 16px;
}

.nav-tabs .contact-nav.active {
    background-color: #fff !important;
}

.nav-tabs .contact-nav {
    margin-bottom: 0px;
}

.mediaIconBgIcon {
    font-size: 22px;
    border-radius: 5px;
    padding: 14px;
    /* width: 40px;
    height: 40px; */
    background: #ff0060;
}

.mediaIconBgIcon:hover {
    background: #ff0060;
}

.socialicons a {
    padding: 0;
}

.mediaIconBgIcon {
    width: 50px;
    height: 50px;
    background-color: #ff0060;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin: 5px;
}

.soc_icons {
    font-size: 24px;
    color: white;
}

@media (max-width: 320px) {
    .socialicons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .socialicons a:nth-child(1),
    .socialicons a:nth-child(4) {
        grid-column: 1;
    }

    .socialicons a:nth-child(2),
    .socialicons a:nth-child(5) {
        grid-column: 2;
    }

    .socialicons a:nth-child(3) {
        grid-column: 3;
    }
}

.borderline {
    border-left: 1px solid #4f4f4f;
}

@media (max-width: 767px) {
    .borderline {
        border-left: none !important;
    }
}

.contact-heading {
    font-size: 2em;
}

.contact-icon-group {
    background-color: #fff;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #a7a7a7;
}

.icon-color {
    color: gray !important;
}

.contact-button {
    background-color: #ff0060;
    color: #fff;
}

.contact-button:hover {
    background-color: #ff0060 !important;
    color: #fff !important;
}

.contact-subheading2 {
    color: #00d570;
}

.input-text-color {
    color: #000 !important;
}

.input-text-color:focus {
    box-shadow: none;
}

.contact-icon-group {
    background-color: #fff;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #a7a7a7;
}
/* Contact Us End */

/* / Checkout / */
.card.payment-option {
    cursor: pointer;
    border: 1px solid #ddd;
    transition: border-color 0.2s;
}

.card.payment-option:hover {
    border-color: #ff0060;
}

.card.payment-option.selected {
    border-color: #ff0060;
}

.applyBtn:disabled{
    background-color: #ff0060;
    border: 1px solid #ff0060;
    color: #fff;
    cursor: not-allowed;
}

.placeOrderBtn{
    background-color: #ff0060;
    border: 2px solid #ff0060;
    color: #fff;
}

.placeOrderBtn:hover,
.placeOrderBtn.active{
    background-color: #fff !important;
    border: 2px solid #ff0060 !important;
    color: #ff0060 !important;
}

.placeOrderBtn:disabled {
    background-color: #ff0060;
    border: 1px solid #ff0060;
    color: #fff;
    opacity: 0.6;
}

.spinner-border {
    color: #ff0060;
    border-width: 2px;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
}
/* / Checkout / */

.error{
    color: #e4e4e4;
    font-size: small;
}

.badge_warning {
    color: #ffac4d;
    background: #fff5eb;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}
.badge_payment {
    color: #1c9c2d;
    background: #cbf8d174;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}
.badge_default {
    color: #0c61a2;
    background: #b9daf3;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}
.badge_info {
    color: #4da3ff;
    background: #4da3ff67;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}

.badge_danger {
    color: #ff999d;
    background: #fcf0f0;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}
.badge_outline_dark {
    color: #ff0060;
    background: #fff;
    border: 1px solid #ff0060;
    font-size: 14px;
    padding: 1.6px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order_id {
    color: #ff0060 !important;
}
.badge_outline_dark:hover {
    color: #fff;
    background: #ff0060;
    border: 1px solid #fff;
    font-size: 14px;
    padding: 1.6px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge_outline_pink {
    color: #fff;
    background: #ff0060;
    border: 1px solid #ff0060;
    font-size: 14px;
    padding: 1.6px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge_outline_pink:hover {
    color: #ff0060;
    background: #fff;
    border: 1px solid #ff0060;
    font-size: 14px;
    padding: 1.6px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showmoreBtn {
    background-color: #ff0060;
    border: 2px solid #ff0060;
    color: #fff;
}

.showmoreBtn:hover,
.showmoreBtn.active{
    background-color: #fff !important;
    border: 2px solid #ff0060 !important;
    color: #ff0060 !important;
}

.profile-menu{
    left: auto !important;
    right: 0 !important;
}

.nodata{
    display: flex;
    align-items: center;
    height: 100%;
}

.descTruncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orderCard {
    border: 1px solid #ff0060;
}

.orderCard:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px #ff4d8546;
    border: 1px solid #ff0060;
    cursor: pointer;
}

.invoiceBtn{
    background-color: #fff;
    border: 2px solid #ff0060;
    color: #ff0060;
}

.invoiceBtn:hover,
.invoiceBtn.active{
    background-color: #ff0060 !important;
    border: 2px solid #ff0060 !important;
    color: #fff !important;
}

.topbarContainer{
    white-space: nowrap;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e8e9ea;
    position: sticky;
    top: 85px;
    z-index: 1000;
    width: 100%;
}

.topBar {
    overflow: hidden;
    display: flex;
    padding: 7px;
    scroll-behavior: smooth;
}

.topBar::-webkit-scrollbar {
    display: none;
}

.topBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.topBar .btn {
    flex-shrink: 0;
    color: #0f172a;
    padding: 3px 10px;
    text-decoration: none;
}
  
.topBar .btn.active {
    color: #ff0060;
    border: none;
    position: relative;
}

.topBar .btn.active::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 2.5px;
    background-color: #ff0060;
}
  
.topBar  .btn:hover {
    background-color: #eaa7a726;
    color: #ff0060;
    border-radius: 20px;
}